/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require main
 */

html, body {
    margin: 0;
    height: 100%;
    background-color: #EBFFFF;
    font
}

@font-face {
    font-family: 'Coves-Bold';
    src:url('Coves-Bold.ttf.woff') format('woff'),
        url('Coves-Bold.ttf.svg#Coves-Bold') format('svg'),
        url('Coves-Bold.ttf.eot'),
        url('Coves-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

.navigation {
  height: 75px;
  text-align: center;
  margin: 50px auto;
  ul {
    list-style-type: none;
    font-family: 'Coves-Bold';
    padding-left: 0px;
    li {
      display: inline-block;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 0px 30px;
      a {
        text-decoration: none;
        color:#333;
      }
    }
  }
 } 