@import "bootstrap-sprockets";
@import "bootstrap";

.homepage {
  justify-content: center;
  align-items: center;
  flex: 1;
}
.homepage-container {
  width:80%;
  margin: 0 auto;
  text-align: center;
}

.navigation {
  text-align: center;
  margin: 50px auto;
  ul {
    list-style-type: none;
    font-family: 'Coves-Bold';
    padding-left: 0px;
    li {
      display: inline-block;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 0px 30px;
      a {
        text-decoration: none;
        color:#333;
      }
    }
  }
} 
.footer {
  position: absolute;
  bottom: 0px;
  height:100px;
  width: 100%;
  text-align: center;
}