@import "bootstrap-sprockets";
@import "bootstrap";

.homepage-container {
  display: flex;
  justify-content: center;
}

.navigation {
  height: 75px;
  text-align: center;
  margin: 50px auto;
  ul {
    list-style-type: none;
    font-family: 'Coves-Bold';
    padding-left: 0px;
    li {
      display: inline-block;
      font-size: 2rem;
      text-transform: uppercase;
      padding: 0px 30px;
      a {
        text-decoration: none;
        color:#333;
      }
    }
  }
 } 