<!DOCTYPE html>
<html>
<head>
  <title>Portfolio3Onepage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="homepage">
    <div class="homepage-container">

      <%= yield %>
      
    </div>
  </div>
</body>
</html>
